/.idea
/.vscode
/.osp
/node_modules
/public/build
/public/fonts/vendor
/public/hot
/public/storage
/public/mix-manifest.json
/resources/js/components/test*
/storage/*.key
/vendor
.editorconfig
.env*
composer.lock
package-lock.json
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
